* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:after,*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active {outline: none;}
a:focus,a:active {outline: none;}

html,body{
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}



body {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

.wrapper {
	position: relative;
}

.container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 10px;
}
.header {
}
.header__top-panel {
	padding: 25px 0px 28px 0px;
	background-color: #1c374c;
}
.top-panel__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.top-panel__body {
	flex: 1 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.top-panel__contact {
	font-weight: 300;
	line-height: 24px;
	margin-right: 20px;
	color: #fff;
	padding-left: 25px;
	position: relative;
	display: block;
	font-size: 14px;
	opacity: 1;
	transition: 0.5s;
}

.top-panel__contact:hover {
	color: #25ebff;
}

.top-panel__contact:last-child {
	margin: 0;
}

.top-panel__contact:last-child:hover {
	color: #fff;
}

.top-panel__contact:first-child:before {
	font-family: 'Font Awesome 5 Pro';
	font-weight: 900;
	font-size: 10px;
	content: '\f879';
	position: absolute;
	top: -0.7px;
	left:5px;
}


.top-panel__contact:nth-child(2):before {
	font-family: 'Font Awesome 5 Pro';
	font-weight: 300;
	content: '\f0e0';
	position: absolute;
	top: 0;
	left:0;
}

.top-panel__contact:last-child:before {
	font-family: 'Font Awesome 5 Pro';
	font-weight: 300;
	content: '\f279';
	font-size: 15px;
	position: absolute;
	top: 0;
	left:0;
}

.top-panel__social-media {
	display: flex;
	margin-right: 4px;
}
.top-panel__social-media a{
	position: relative;
	color: #25ebff;
	line-height: 24px;
	font-size: 16px;
	margin: 0px 6px;
	transition: 0.5s;
	padding: 0px 6px;
	font-weight: 400;
}

.top-panel__ic:nth-child(1):before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f0e1';
	position: absolute;
	font-size: 16px;
	left: 50%;
	margin-left: -7px;
}
.top-panel__ic:nth-child(2):before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f099';
	position: absolute;
	font-size: 14px;
	left: 50%;
	margin-left: -7px;
}

.top-panel__ic:nth-child(3):before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f39e';
	position: absolute;
	font-size: 14px;
	left: 50%;
	margin-left: -4px;
}
.top-panel__ic:nth-child(4):before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f16d';
	position: absolute;
	font-size: 16px;
	left: 50%;
	margin-left: -7px;
}

.top-panel__social-media a:hover{
	color: #fff;
}


.header__header-middle {
	padding: 10px 0px;
	top: 0;
	background-color: #fff;
	box-shadow: 0px 10px 20px rgba(59,59,59,0.09);
}
.header-middle__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin: 0px -10px;
}
.header-middle__image {
	padding: 10px 0px 0px 0px;
	margin: 0px 10px;
}
.header-middle__body {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.header-middle__nav {}
.list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.list li {
	margin: 0px 10px;
}
.list li a{
	line-height: 24px;
	color: #1c374c;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.2px;
	padding: 0px 10px;
	transition: all 0.5s ease;
}

.list li a:hover{
	color: #16b0c8;
}

.list li .nav-active {
	color: #16b0c8;
}



.specialists {
	padding: 55px 0px 96px 0px;
}
.specialists__title {
	font-family: "PT Serif", Sans-serif;
    font-size: 32px;
    line-height: 42px;
    color: #1c374c;
    font-weight: 700;
    text-align: center;
    padding: 15px 0px 0px 0px;
    margin-bottom: 35px;

		transform: translate(0,50%);
	opacity: 0;
	transition:all 0.3s ease;
}
.specialists__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0px -10px;
}
.specialists__column {
	flex: 1 1 25%;
	padding: 0px 10px;
}
.mb {
	margin-bottom: 45px;
}
.specialists__column {

}
.column__body {
	transition: all 0.5s ease;
}
.column__body:hover {
	box-shadow: 0px 0px 50px 10px rgba(169,169,169, 0.45);
}
.column__row {}
.column__image {
	height: 325px;
}
.column__image img {
	position: relative;
	top:0;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
.column__information {
	padding: 33px 30px 40px;
}
.column__special {
	font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #b5b9bb;
    font-weight: 700;
    line-height: 1.5;
    font-family: PT Serif, serif;
}
.column__name {
	margin-bottom: 18px;
}
.column__name a{
	color: #1e2428;
	font-family: 'PT Serif',sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    transition: all 0.5s ease;

}
.column__name a:hover{
	color: #16b0c8;
}
.column__phone {
	color: #b5b9bb;
    display: inline-block;
    font-size: .950rem;
    padding-left: 20px;
    line-height: 1.6;
    margin-bottom: 4px;
    position: relative;
    font-weight: 300;
}
.column__mail {
	color: #b5b9bb;
    display: inline-block;
    /*font-size: 14px;*/
    padding-left: 20px;
    line-height: 1.6;
    position: relative;
    transition: all 0.5s ease;
    font-weight: 300;
}
.column__mail:hover{
	color: #16B0C8;
}

.column__mail:before {
	font-family: 'Font Awesome 5 Pro';
	font-weight: 900;
	content: '\f0e0';
	position: absolute;
	top: -1px;
	left:-3px;
	color: #16B0C8;
	font-size: 16px;
}
.column__phone:before {
	font-family: 'Font Awesome 5 Pro';
	content: '\f10b';
	position: absolute;
	left: 0;
	color: #16B0C8;
	font-weight: 400;
	font-size: 16px;
	top:-2px;
}

.diplomas {
	padding: 77px 0px 15px 0px;
}
.diplomas__title {
	color: #1c374c;
	font-family: "PT Serif", Sans-serif;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.6px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 20px;


		transform: translate(0,100%);
	opacity: 0;
	transition:all 0.3s ease;
}
.diplomas__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0px -10px;
}
.diplomas__img {
	flex: 0 0 270px;
	margin:15px auto;


		transform: translate(0,50%);
	opacity: 0;
	transition:all 0.3s ease;
}



.appointment {
	margin: 0px 0px -55px 0px;
	z-index: 2;
	position: relative;
}
.appointment__container {
	padding: 80px 50px 90px 50px;
	background: url(../../../img/Group-6-9.webp) left -20px/100% auto no-repeat;

}
.appointment__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.appointment__form {
	flex: 0 1 55%;
	margin: 0px 0px 0px 55px;
}

.appointment__form div  input {
	background-color: rgba(255,255,255, 0);	/*Прозрачный цвет*/
	border-bottom: 1px solid #c5cbcf;
	width: 100%;
	padding: 5px 0px;
}
.appointment__form div {
	margin-bottom: 20px;
}
.form__title {
	font-family: "PT Serif", Sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    color: #1e2428;

		transform: translate(0,100%);
	opacity: 0;
	transition:all 0.3s ease;
}
.form {
}
.form__department {
		transform: translate(0,50%);
	opacity: 0;
	transition:all 0.3s ease;
}

.form__name {
		transform: translate(0,50%);
	opacity: 0;
	transition:all 0.3s ease;
}
.form__phone {
		transform: translate(0,50%);
	opacity: 0;
	transition:all 0.3s ease;
}
.form__text {
	font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #42474c;
    margin-bottom: 10px;
}

.form__btn {
	display: inline-block;
	font-family: "Roboto", Sans-serif;
    font-size: 9px;
    line-height: 11px;
    background-color: #16b0c8;
    color: #fff;
    border-radius: 40px;
    padding: 18px 37px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
    transition: all 0.5s ease;
}
.form__btn-anim {
		transform: translate(0,50%);
	opacity: 0;
	transition:all 0.3s ease;
}

.form__btn:hover {
	background-color: #0c0c0c;
}
.appointment__empty {
	flex:0 1 45%;
}





.footer {
	background-color: #2B3238;
}
.footer__footer-top {
	padding: 35px 0px;
    border-bottom: 1px solid #4B5156;
}
.footer-top__links {
	height: 80px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin: 0px -15px;
}
.footer-top__links a {
	line-height: 0px;
	font-size: 16px;
	color: #16B0C8;
	margin: 0px 20px;
	font-weight: 400;
	transition: all 0.5s ease;
	position: relative;
}
.link:nth-child(1):before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f0e1';
	position: absolute;
	font-size: 16px;
	left: 50%;
	/*margin-left: -7px;*/
}
.link:nth-child(2):before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f099';
	position: absolute;
	font-size: 16px;
	left: 50%;
	/*margin-left: -7px;*/
}

.link:nth-child(3):before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f39e';
	position: absolute;
	font-size: 16px;
	left: 50%;
	/*margin-left: -7px;*/
}
.link:nth-child(4):before {
	font-family: 'Font Awesome 5 Brands';
	content: '\f16d';
	position: absolute;
	font-size: 16px;
	left: 50%;
	/*margin-left: -7px;*/
}
.footer-top__links a:hover {
	color: #fff;
}
.link {}
.footer__footer-main {
	padding: 50px 0px 70px 0px;
}
.footer-main__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.footer-main__footer-column {
	margin:0px 3.5px;
	flex: 1 0 25%;
}
.footer-column__body {}
.footer-column__title {
	line-height: 1.5;
    font-family: PT Serif, serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #fff;
}
.footer-column__image {
	margin-bottom: 23px;
}
.footer-column__text {
	font-size: 16px;
    line-height: 1.9;
    color: #fff;
    font-weight: 300;
}
.footer-column__mail a{
	font-size: 16px;
	color: #3094a5;
    font-weight: 700;
    line-height: 1.9;
}
.footer-column__phone a{
	font-size: 16px;
	color: #eae049;
    font-weight: 700;
	line-height: 1.9;
}
.footer-column__time-table div:first-child{
	margin-top: 12px;
}
.footer-column__posts {}
.post-1 {
	margin-bottom: 27px;
}
.post-1:last-child {
	margin: 0;
}
.post-1__text a{
	font-weight: 400!important;
    font-size: 14px!important;
    line-height: 28px!important;
    color: #fff!important;
    display: inline-block;
    margin-bottom: 10px;
}
.post-1__date {
	color: #fff;
}
.footer-column__links {}
.column__link a{
	font-size: 16px;
	line-height: 1.9;
	font-weight: 300;
	color: #fff;
}
.link_active a{
	color: rgba(255,255,255,0.4);
}

.footer-bottom {
	border-top: 1px solid #4B5156;
	padding: 24px 0px;
}
.footer-bottom__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}
.footer-bottom__text {
	line-height: 1.6;
	font-weight: 300;
	color: #ffffff;
}


/*===============================Новые стили=================================*/

.mb {
		transform: translate(0,25%);
	opacity: 0;
	transition:all 0.3s ease;
}

.mb:nth-child(1)._active{
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
	transition-delay: 0s;
}

.mb:nth-child(2)._active{
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
	transition-delay: 0.2s;
}

.mb:nth-child(3)._active{
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
	transition-delay: 0.4s;
}
.mb:nth-child(4)._active{
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
	transition-delay: 0.6s;
}

.md {
		transform: translate(0,20%);
	opacity: 0;
	transition:all 0.3s ease;
}

.md:nth-child(5)._active{
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
	transition-delay: 0s;
}

.md:nth-child(6)._active{
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
	transition-delay: 0.2s;
}

.md:nth-child(7)._active{
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
	transition-delay: 0.4s;
}
.md:nth-child(8)._active{
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
	transition-delay: 0.6s;
}


.specialists__title._active {
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
}

.diplomas__title._active {
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
}

.diplomas__img:nth-child(1)._active {
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
}
.diplomas__img:nth-child(2)._active {
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
	transition-delay: 0.2s;
}
.diplomas__img:nth-child(3)._active {
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
	transition-delay: 0.4s;
}
.diplomas__img:nth-child(4)._active {
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
	transition-delay: 0.6s;
}


.form__title._active{
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
}
.form__department._active{
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
	transition-delay: 0.2s;
}
.form__name._active{
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
	transition-delay: 0.4s;
}
.form__phone._active{
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
	transition-delay: 0.6s;
}
.form__btn-anim._active {
	transform: translate(0,0);
	opacity: 1;
	transition-duration: 0.8s;
	transition-delay: 0.8s;
}