.health-care {
  padding-top: 50px;
}
.health-care__row {
  margin: 0px 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.health-care__image {
  margin-left: -233px;
  margin-right: -103px;

  transform: translate(-30%, 0);
  opacity: 0;
  transition: all 0.3s ease;
}
.health-care__body {
  margin-left: 30px;

  transform: translate(50%, 0);
  opacity: 0;
  transition: all 0.3s ease;
}
.health-care__title {
  font-family: "PT Serif", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
  color: #1c374c;
}
.health-care__title_2 {
  font-family: "PT Serif", Sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #1c374c;
  margin-bottom: 16px;
}
.health-care__text {
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #42474c;
  margin-bottom: 23px;
}
.health-care__text-2 {
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #42474c;
  margin-bottom: 25px;
}
.health-care__quote {
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  color: #1c374c;
  margin-bottom: 25px;
}
.health-care__btn {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Roboto", Sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 1.5px;
  color: #ffffff;
  background-color: #16b0c8;
  border-radius: 40px;
  padding: 18px 37px;
  transition: all 0.5s ease;
}

.health-care__btn:hover {
  background-color: #1c374c;
}

.consultation {
  padding: 96px 0px 107px 0px;
  background: url(../../../img/Group-8.webp) center center/126% auto no-repeat;
}
.consultation__body {
  padding: 0px 10px;

  transform: translate(-50%, 0);
  opacity: 0;
  transition: all 0.3s ease;
}
.consultation__title {
  font-family: "PT Serif", Sans-serif;
  font-size: 32px;
  line-height: 42px;
  color: #1c374c;
  font-weight: 700;
  margin-bottom: 20px;
}
.consultation__text {
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #42474c;
  margin-bottom: 50px;
  max-width: 500px;
}

.consultation__link a {
  color: #1c374c;
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.consultation__link a div {
  margin-left: 10px;
  display: inline-block;
  color: #16b0c8;
  font-family: "Roboto", Sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.consultation__link span {
  color: #16b0c8;
  font-family: "Roboto", Sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.cards-timetable {
  padding-top: 60px;
  padding-bottom: 60px;
}

.cards-timetable__title {
  font-family: "PT Serif", Sans-serif;
  font-size: 32px;
  line-height: 42px;
  color: #1c374c;
  font-weight: 900;
  text-align: center;
  margin-bottom: 40px;
}
.cards-timetable__row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin: 0px -10px 0px 0px;
}
.cards-timetable__cards {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin: -10px 0px;
}
.cards-timetable__card {
  flex: 1 0 33.333%;
  padding: 10px;
  height: 237px;
  perspective: 500px;
}
.card__body {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.8s transform ease;
}

.card__body:hover {
  transform: rotateX(180deg);
}
.item__row {
  background-color: #f6fcff;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.item__row > * {
  transform-style: preserve-3d;
  transform: translateZ(30px);
}
.item__row-back {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  transform: rotateX(-180deg);
  transition: transform 0.8s ease;
}
.item__row-back::before {
  position: absolute;
  content: "";
  inset: 0;
  background: #1c374c70;
}
.img-1 {
  background: url(../img/flip_cards/1.webp) center/cover no-repeat;
}
.img-2 {
  background: url(../img/flip_cards/3.webp) center/cover no-repeat;
}
.img-3 {
  background: url(../img/flip_cards/6.jpg) center/cover no-repeat;
}
.img-4 {
  background: url(../img/flip_cards/4.jpg) center/cover no-repeat;
}
.img-5 {
  background: url(../img/flip_cards/5.jpg) center/cover no-repeat;
}
.img-6 {
  background: url(../img/flip_cards/2.jpg) center/cover no-repeat;
}
.item__row-back-1 {
  transform: translateZ(30px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0px 15px;
}

.item__title-back {
  font-family: "PT Serif", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}
.item__text-back {
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding: 0px 10px;
  line-height: 1.2;
}
.item__icon {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}
.ic1:before {
  content: "\f7e6";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  color: #16b0c8;
  font-size: 50px;
  font-weight: 900;
}
.ic2:before {
  content: "\f004";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  color: #16b0c8;
  font-size: 60px;
  font-weight: 300;
}
.ic3:before {
  content: "\f21e";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  color: #16b0c8;
  font-size: 60px;
  font-weight: 900;
}
.ic4:before {
  content: "\f182";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  color: #16b0c8;
  font-size: 50px;
  font-weight: 900;
}
.ic5:before {
  content: "\f1ae";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  color: #16b0c8;
  font-size: 50px;
  font-weight: 900;
}
.ic6:before {
  content: "\f4d2";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  color: #16b0c8;
  font-size: 35px;
  font-weight: 900;
  top: 10px;
}
.item__icon:before {
  left: 50%;
  transform: translateX(-50%) translateZ(30px);
}
.item__title {
  color: #1c374c;
  font-family: "PT Serif", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.item__text {
  color: #1c374c;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.toggle {
  padding: 50px 0px 75px 0px;
}
.toogle__body {
  padding: 0px 100px 0px 100px;
  user-select: none;
}
.toggle__item {
  margin: 0px 0px 25px 0px;
  overflow: hidden;
}
.toggle__title {
  color: #1c374c;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  background-color: #deeef7;
  padding: 15px 23px 15px 42px;
  position: relative;
  cursor: pointer;
  box-shadow: 0px -35px 80px 10px rgba(0, 0, 0, 0.24);
}
.toggle__title:before {
  font-family: "Font Awesome 5 Pro";
  content: "\f067";
  position: absolute;
  right: 35px;
  line-height: 25px;
}
.toggle__title.active:before {
  content: "\f068";
}

.toggle__text {
  display: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  padding: 40px;
  background: #ecf3f5;
  color: #42474c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*Новые стили*/

.health-care__image._active {
  transform: translate(0, 0);
  opacity: 1;
  transition-duration: 0.8s;
}
.health-care__body._active {
  transform: translate(0, 0);
  opacity: 1;
  transition-duration: 0.8s;
}

.consultation__body._active {
  transform: translate(0, 0);
  opacity: 1;
  transition-duration: 0.8s;
}

.mb {
  transform: translate(0, 25%);
  opacity: 0;
  transition: all 0.3s ease;
}

.mb:nth-child(1)._active {
  transform: translate(0, 0);
  opacity: 1;
  transition-duration: 0.8s;
  transition-delay: 0s;
}

.mb:nth-child(2)._active {
  transform: translate(0, 0);
  opacity: 1;
  transition-duration: 0.8s;
  transition-delay: 0.2s;
}

.mb:nth-child(3)._active {
  transform: translate(0, 0);
  opacity: 1;
  transition-duration: 0.8s;
  transition-delay: 0.4s;
}

.md {
  transform: translate(0, 20%);
  opacity: 0;
  transition: all 0.3s ease;
}

.md:nth-child(4)._active {
  transform: translate(0, 0);
  opacity: 1;
  transition-duration: 0.8s;
  transition-delay: 0s;
}

.md:nth-child(5)._active {
  transform: translate(0, 0);
  opacity: 1;
  transition-duration: 0.8s;
  transition-delay: 0.2s;
}

.md:nth-child(6)._active {
  transform: translate(0, 0);
  opacity: 1;
  transition-duration: 0.8s;
  transition-delay: 0.4s;
}

.form__department {
  transform: translate(0, 50%);
  opacity: 0;
  transition: all 0.3s ease;
}

.form__name {
  transform: translate(0, 50%);
  opacity: 0;
  transition: all 0.3s ease;
}
.form__phone {
  transform: translate(0, 50%);
  opacity: 0;
  transition: all 0.3s ease;
}

.form__btn-anim {
  transform: translate(0, 50%);
  opacity: 0;
  transition: all 0.3s ease;
}

.form__title._active {
  transform: translate(0, 0);
  opacity: 1;
  transition-duration: 0.8s;
}
.form__department._active {
  transform: translate(0, 0);
  opacity: 1;
  transition-duration: 0.8s;
  transition-delay: 0.2s;
}
.form__name._active {
  transform: translate(0, 0);
  opacity: 1;
  transition-duration: 0.8s;
  transition-delay: 0.4s;
}
.form__phone._active {
  transform: translate(0, 0);
  opacity: 1;
  transition-duration: 0.8s;
  transition-delay: 0.6s;
}
.form__btn-anim._active {
  transform: translate(0, 0);
  opacity: 1;
  transition-duration: 0.8s;
  transition-delay: 0.8s;
}

.toggle__text-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.toggle__text-body:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 1 auto;
  position: relative;
}
.toggle__text-body:nth-child(1):after {
  flex: 1 1 auto;
  content: "";
  background: rgb(58, 58, 58);
  height: 1px;
}
.toggle__text-body:nth-child(2):after {
  content: "смн";
}
